<html>
<head>
	<title>Sign-up Results</title>
	<script src="jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="bootstrap.min.js"></script>
	<script type="text/javascript">
		function goBack() {
			window.history.back();
			window.history.back();
		}
    </script>
</head>
<body>
	<div class="main">
	<div class="background" >
		<img src="back-logo-black.png" onclick="goBack()">
        <div class="ctitle">Innohub signup</div>
    </div>
	<div class="geterr">
		<p class="err">Thank you, the request has been submitted.</p>
		<p class="err">Please check the data correct.</p>
		<p class="err">Name: <%= teachername %> </p>
		<p class="err">Class: <%= classs %></p>
		<p class="err">Date: <%= date %></p>
		<p class="err">Time Period: <%= timePeriod %></p>
	</div>
</div>

</body>
</html>