*{
    padding: 0;
    margin: 0;
  }
  body{
    background-image: url(MicrosoftTeams-image.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Sans Serif";
  }
  .background{
    /* background-color: aqua; */
    font-size: 75px;
    margin-top: 70px;
    text-align: center;
  }
  .main{
    z-index: 5;
    width: 60%;
    height: cover;
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    /* background-color:aquamarine; */
    margin: 0 auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px  30px  30px  30px;
  }
  .title{
    font-size: 50px;
    margin-top: 50px;  
    background-color: beige;
    text-align: center;
  }
  img { /*This is for the back button*/
    z-index: 3;
    position: relative;
    height: 4rem;
    width: 4rem;
    margin-left: 3%;
  }
  .content{
    width: 100%;
    height: 600px;
    margin: 0 auto;
    margin-top: 40px;
    /* background-color: cadetblue; */
  }
  .datet{
    width: 30%;
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 9%;
    /* background-color: rgb(26, 118, 121); */
  }
  .inputdata{
    width: 50%;
    float: left;
    margin-top: 4%;
    margin-right:1%;
    /* background-color: blueviolet; */
  }
  img { /*This is for the back button*/
    z-index: 3;
    position: relative;
    float: left;
    margin-top: 3%;
    height: 4rem;
    width: 4rem;
    margin-left: 5%;
  }
  .ctitle{
    margin: 0 auto;
  }
  button{
    height: 45px;
    width: 75%;
    margin-top: 50px;
    margin-bottom: 40px;
    background-color: rgba(53, 50, 50, 0.6);
    border-radius: 30px 30px 30px 30px;
    color: aliceblue;
  }
  .informaiton{
    color: red;
    font-size: 30px;
  }

.geterr{
    margin-top: 10%;
    width: 100%;
    height: 400px;
}
.err{
    text-align: center;
    font-size: 200%;
}